body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

.conteudo {
  background: #f7f7f7;
  /* margin: 0px; */
  display: grid;
  justify-content: center;
  padding: 40px;
  gap: 60px;
}

.cabecalho {
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 10px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.menu-itens {
  list-style: none;
  display: flex;
  gap: 15px;
}

.menu-itens a {
  color: #111;
  background: white;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 4px;
  text-transform: uppercase;
  border: 2px solid transparent;
}

.menu-itens a:hover {
  border: 2px solid #e21;
}

.info {
  display: grid;
  margin: 0px 100px;
  max-width: 1000px;
}

img {
  max-width: 100%;
}

.apresentacao {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.detalhes::after {
  content: "";
  width: 60px;
  height: 4px;
  background: #e21;
  position: absolute;
  right: -30px;
  top: 30px;
}

.detalhes {
  position: relative;
  display: grid;
  text-align: right;
  padding: 40px;
}

.detalhes h1 {
  margin: 0px;
  font-size: 2rem;
  place-self: end;
}

.detalhes p {
  font-size: 1.1rem;
  align-self: center;
}

.botao {
  text-decoration: none;
  background-color: #e21;
  color: #fff;
  place-self: start end;
  padding: 15px 30px;
  border-radius: 4px;
  text-transform: uppercase;
}

.botao:hover {
  background-color: #900;
}

.detalhes,
.vantagens-list {
  background: #fff;
}

.txtvantagens {
  display: grid;
  color: rgba(0, 0, 0, 0.2);
  background-image: url(/img/onda.svg);
  text-align: right;
  align-content: center;
  font-size: 3rem;
  padding: 1.5rem;
}

.vantagens-list {
  padding: 40px;
}

.vantagens-itens:nth-child(odd) {
  background-color: #f7f7f7;
}

.vantagens-itens {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: left;
  gap: 10px 20px;
  padding: 15px;
}

.vantagens-itens:hover {
  border-left: 4px solid #e21;
}

.vantagens-itens p {
  font-size: 1.1rem;
}

.vantagens-itens h3,
.vantagens-itens p {
  grid-column: 2;
  text-align: left;
}

.bottom {
  font-family: Arial, Helvetica, sans-serif;
  grid-column: 1/-1;
  background: #fff;
  text-align: center;
  font-size: 1.3rem;
  padding: 30px;
}
