:root {
  --fundo1: #f7f7f7;
  --fundo2: white;
  --cor1: #e21;
  --texto2: #111;
  --texto1: #fff;
  --cor2: #900;
  --texto3: rgba(0, 0, 0, 0.2);
}

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--fundo1);
}

h1,
h2,
h3,
p {
  margin: 0px;
}

.conteudo {
  background: var(--fundo1);
  display: grid;
  justify-content: center;
  padding: 40px;
  gap: 60px;
}

.cabecalho {
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 10px;
}

.menu {
  display: flex;
}

.menu-itens {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.menu-itens a {
  display: block;
  color: var(--texto2);
  background: var(--fundo2);
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 4px;
  text-transform: uppercase;
  border: 2px solid transparent;
}

.menu-itens a:hover {
  border: 2px solid var(--cor1);
}

.info {
  display: grid;
  margin: 0px auto;
  max-width: 1000px;
}

img {
  max-width: 100%;
  align-self: center;
  object-fit: cover;
  object-position: center;
}

.apresentacao {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.detalhes::after {
  content: "";
  width: 60px;
  height: 4px;
  background: var(--cor1);
  position: absolute;
  right: -30px;
  top: 30px;
}

.detalhes {
  position: relative;
  display: grid;
  text-align: right;
  padding: 40px;
  color: var(--texto2);
}

.detalhes h1 {
  margin: 0px;
  font-size: 2rem;
  place-self: end;
}

.detalhes p {
  font-size: 1.1rem;
  align-self: center;
}

.botao {
  text-decoration: none;
  background-color: var(--cor1);
  color: var(--texto1);
  place-self: start end;
  padding: 15px 30px;
  border-radius: 4px;
  text-transform: uppercase;
}

.botao:hover {
  background-color: var(--cor2);
}

.detalhes,
.vantagens-list {
  background: var(--fundo2);
}

.txtvantagens {
  display: grid;
  color: var(--texto3);
  background-image: url(/img/onda.svg);
  text-align: right;
  align-content: center;
  font-size: 3rem;
  padding: 1.5rem;
}

.vantagens-list {
  padding: 40px;
  color: var(--texto2);
}

.vantagens-itens:nth-child(odd) {
  background-color: var(--fundo1);
}

.vantagens-itens {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: left;
  gap: 10px 20px;
  padding: 15px;
}

.vantagens-itens:hover {
  border-left: 4px solid var(--cor1);
}

.vantagens-itens p {
  font-size: 1.1rem;
}

.vantagens-itens h3,
.vantagens-itens p {
  grid-column: 2;
  text-align: left;
}

.bottom {
  font-family: Arial, Helvetica, sans-serif;
  grid-column: 1/-1;
  background: var(--fundo2);
  text-align: center;
  font-size: 1.3rem;
  padding: 30px;
  color: var(--texto2);
}

@media (max-width: 900px) {
  .info {
    margin: 0px;
  }

  .apresentacao {
    grid-template-columns: 1fr;
  }

  .detalhes {
    text-align: left;
    gap: 20px;
  }

  .detalhes h1 {
    place-self: start;
  }

  .detalhes p {
    line-height: 1.5;
  }

  .detalhes a {
    place-self: start;
  }

  .detalhes::after {
    display: none;
  }

  img {
    object-position: top left;
    /* justify-self: center; */
  }

  .txtvantagens {
    word-wrap: break-word;
    font-size: 1.7rem;
    text-align: center;
    padding: 50px 0px;
  }

  .vantagens-itens {
    grid-template-columns: auto auto;
    padding: 10px;
  }

  .vantagens-itens img {
    justify-self: right;
  }

  .vantagens-list {
    padding: 20px 10px;
  }

  .bottom {
    font-size: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --fundo1: #111;
    --fundo2: #000;
    --cor1: #e21;
    --texto2: #fff;
    --texto3: rgba(255, 255, 255, 0.2);
    --cor2: #900;
  }

  .logo {
    color: #fff;
  }

  .txtvantagens {
    background-image: url(/img/onda-escura.svg);
  }
}
